.clickable:hover {
  cursor: pointer;
}

.dashboard-div {
  padding: 50px 75px;
  padding-left: 320px;
}

.dashboard-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.dashboard-top-bar {
  min-width: 1000px;
}

.group-select {
  display: inline-block;
  width: 200px;
  height: 40px;
  vertical-align: bottom;
}

.add-row {
  display: inline-flex;
  margin-left: 20px;
  width: 120px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 13px;
  padding-right: 8px;
  background: #05204a;
  color: #ffffff;
  cursor: pointer;
}

.dashboard.add-icon-svg {
  margin-right: 8px;
}

.pencil-button {
  background: none;
  border: 0px;
  float: right;
}

.pencil-button:hover {
  cursor: pointer;
}

.Pencil {
  float: right;
  margin-right: 14px;
}

.Plus {
  float: right;
  padding-top: 4px;
  margin-right: 14px;
}

.dashboard-search-box {
  float: right;
  position: relative;
  margin-right: 10px;
}

.dashboard-search {
  font-size: 16px;
  line-height: 24px;
  color: #949494;
  width: 400px;
  height: 40px;
  padding-left: 48px;
  border: 0px;
  background: #f3f3f3;
  border-radius: 5px;
  vertical-align: bottom;
}

.dashboard-search-icon {
  position: absolute;
  left: 16px;
  top: 12px;
}

.toggle-csv-menu {
  position: relative;
  float: right;
  margin-top: 10px;
  border: 0px;
  padding-left: 10px;
}

.toggle-csv-menu > button {
  background: transparent;
  cursor: pointer;
  border: 0px;
}

.create-group-csv-label {
  white-space: nowrap;
}

.no-groups-div {
  position: absolute;
  top: 25px;
}

.no-groups-header {
  position: absolute;
  width: 222px;
  top: 295px;
  left: 617px;
  min-width: 500px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.no-groups-text {
  position: absolute;
  text-align: center;
  color: #949494;
  width: 633px;
  top: 350px;
  left: 486px;
  min-width: 700px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.create-group {
  position: absolute;
  left: 730px;
  top: 430px;
  width: 147px;
  height: 40px;
  display: inline-flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: solid;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 13px;
  padding-right: 8px;
  color: #05204a;
  background: #ffffff;
  cursor: pointer;
}

.no-groups.create-icon-svg {
  position: absolute;
  top: 236px;
  left: 775px;
}

.no-groups.add-icon-svg {
  margin-left: -2px;
  margin-right: 8px;
  margin-top: -2px;
}