* {
  overscroll-behavior: none;
}

.side-navigation {
  position: fixed;
  width: 244px;
  height: 100%;
  z-index: 100;
  top: 0px;
  left: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  overscroll-behavior: none;
  display: grid;
  grid-template-rows: 20vh auto 20vh;
}

.side-navigation button {
  cursor: pointer;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sidenav-home {
  padding-left: 0px;
  padding-right: 0px;
  top: 6vh;
  width: 140px;
  height: 36px;
  border: 0px;
  background: transparent;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #05204a;
  cursor: pointer;
}

.sidenav-logo {
  padding-right: 15px;
  padding-top: 2px;
  float: left;
}

.sidenav-button {
  width: 44px;
  height: 44px;
  background: #e5e5e5;
  fill: #05204a;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
}

.active {
  background: #05204a;
  fill: #ffffff;
  box-shadow: 0px 4px 4px #9db5fa;
}

.sidenav-icon {
  padding-top: 12.5%;
}

.sidenav-description {
  position: absolute;
  text-align: center;
  width: 244px;
  padding-top: 12px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400px;
  color: #000000;
  text-decoration: none;
}

.sidenav-logout {
  width: 105px;
  height: 27px;
  padding-left: 0px;
  padding-right: 0px;
  border: 0px;
  background: transparent;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  cursor: pointer;
}

.sidenav-icon-logout {
  float: left;
  margin-right: 15px;
  padding-top: 6px;
}

.sidenav-logout {
  top: 93vh;
}

.side-navigation-tabs {
  align-self: center;
  display: grid;
  height: 100%;
  align-items: center;
}

.side-navigation-tabs a {
  margin-bottom: 25px;
}
