.modal-background {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-view {
  background-color: #ffffff;
  padding: 27px 37px;
  border-radius: 5px;
  width: 500px;
  height: 500px;
}

.group-first-header {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.group-second-header {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.group-third-header {
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 11px;
}

.group-name-field {
  display: block;
  width: 95%;
  height: 40px;
  margin-top: 12px;
  margin-bottom: 35px;
  padding: 0px 10px;
  border-style: solid;
  border-color: #c4c4c4;
  border-radius: 5px;
  border-width: 1px;
  font-size: 16px;
}

.group-fields-list {
  height: 160px;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.group-fields-list::-webkit-scrollbar {
  border-radius: 2px;
  background-color: #e5e5e5;
  width: 12px;
}

.group-fields-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 3px solid #e5e5e5; /* adds border around thumb to make it look smaller */
  background-color: #ffffff;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.add-field-button {
  padding: 0;
  background: white;
  color: #05204a;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 13px;
  border: 0px;
  display: flex;
  align-items: center;
}

.add-field-svg {
  margin-right: 6px;
  padding: 2px 0;
  width: 19px;
  height: 19px;
}

.group-submit-div {
  text-align: center;
  margin-top: 24px;
}

.group-modal-submit {
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  width: 119px;
  height: 40px;
  background: #05204a;
  color: #ffffff;
  cursor: pointer;
}

.group-modal-cancel {
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  border-color: #05204a;
  border-width: 3px;
  border-style: solid;
  width: 119px;
  height: 40px;
  margin-left: 20px;
  background: #ffffff;
  color: #05204a;
  cursor: pointer;
}
