.group-field-row {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 15px;
}

.group-field-name-input {
  width: 60%;
  height: 40px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #c4c4c4;
  padding: 0px 10px;
  font-size: 16px;
}

.group-field-type-select {
  width: 30%;
  height: 43px;
  margin-left: 14px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #c4c4c4;
  color: #626262;
  font-size: 16px;
}
