.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 13vh 0px;
}

.modal-content {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 27px 37px;
  border-radius: 5px;
  width: 491px;
  height: 505px;
}

.group-first-header {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.group-second-header {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.group-third-header {
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 11px;
}

.group-name-form {
  margin: 20px 0 35px;
}

.group-name-field {
  display: block;
  width: 95%;
  height: 40px;
  margin-top: 12px;
  margin-bottom: 35px;
  padding: 0px 10px;
  border-style: solid;
  border-color: #c4c4c4;
  border-radius: 5px;
  border-width: 1px;
  font-size: 16px;
}

.add-group-button {
  padding: 0;
  background: white;
  color: #05204a;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 13px;
  border: 0px;
  display: flex;
  align-items: center;
}

.add-field-svg {
  margin-right: 6px;
  padding: 2px 0;
  width: 19px;
  height: 19px;
}

#field-form {
  display: block;
  height: 160px;
  overflow-y: auto;
}

.create-group-field {
  width: 60%;
  height: 40px;
  float: left;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #c4c4c4;
  padding: 0px 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

.field-select {
  display: block;
  width: 30%;
  height: 43px;
  margin-left: 14px;
  margin-bottom: 15px;
  padding-left: 15px;
  float: left;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #c4c4c4;
  color: #c4c4c4;
  font-size: 16px;
}

#field-form::-webkit-scrollbar {
  border-radius: 2px;
  background-color: #e5e5e5;
  width: 12px;
}

#field-form::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 3px solid #e5e5e5; /* adds border around thumb to make it look smaller */
  background-color: #ffffff;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.group-submit-div {
  text-align: center;
  margin-top: 24px;
}

.group-modal-submit {
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  width: 119px;
  height: 40px;
  background: #05204a;
  color: #ffffff;
  cursor: pointer;
}
